.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    /* add slide open effect for menu */
    transition: height 0.3s linear;
    overflow: hidden; 
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: 4rem;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);

}

@supports not (backdrop-filter: blur(10px)) {
  .container {
    background-image: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 100%);
  }
}

.hidden {
    height: 0vh;
}

.visible {
    height: 100vh;
}


.item {
    margin: 10px;
    text-decoration: none;
    z-index: 100;
}

.item:first-child{
    margin-top: 2rem;
}

.item:link{
    color: white;
}

.item:visited{
    color: white;
}

.item:active{
    color: #e03997;
}


.icon {
    align-self: flex-end;
    margin-right: 1rem;
}
