.container {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
}

.section-header {
    font-size: 2rem;
}

@media screen and (min-width: 700px) {
    .container {
        grid-template-columns: 33% 33% 33%;
    }

    .section-header {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
