.container {
    width: 100%;
    color: white;
    transition: opacity 0.5s linear;
    background: black;
    border-bottom: #fadced solid 20px;
}

.mainHeader {
    font-size: 12vw;
    margin: 10px 0 10px 0;
    text-align: center;
}

.mainHeader a {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}

.subHeader {
    font-size: 10vw;
    margin: 10px 0 10px 0;
    margin-left: calc(
        (100vw - (12vw * 7.75)) - 10px
    ); /* don't know how I got this but it works! */
}

.baritone {
    color: white;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fadced;
}

.menuIcon {
    display:block;
}

.alignRight {
    float: right;
    margin: 10px 0 10px 0;
    margin-right: calc(
        (100vw - (12vw * 8)) - 10px
    );
}

.oneLine {
    display: inline-block;
}

@media screen and (min-width: 600px){
    /* Larger than mobile - tablet and desktop */
    .mainHeader {
        font-size: 8vw;
    }

    .subHeader {
        font-size: 6vw;
        margin-left: calc((100vw - (8vw * 9.9)) - 10px); /* don't know how I got this but it works! */
    }

    .alignRight {
        margin: 10px 0 10px 0;
        margin-right: calc((100vw - (8vw * 10.1)) - 10px);
    }
}

@media screen and (min-width: 1000px){
    /* Larger than tablet - desktop */
    .mainHeader {
        font-size: 7vw;
        display: inline-block;
        width: 70%;
        box-sizing: border-box;
        text-align: center;
    }

    .subHeader {
        font-size: 5vw;
        margin-left: calc((100vw - (7vw * 11)) - 10px); /* don't know how I got this but it works! */
    }

    .menuIcon {
        display:none;
    }

    .baritone {
        font-size: 7vw;
        display: inline-block;
        width: 30%;
        box-sizing: border-box;
        text-align: start;
        margin: 0;
    }

}

.hidden {
    opacity:0;
}

.visible {
    opacity:1;
}