.container {
    margin: 0;
    margin-bottom: 0.5rem;
}

.title {
    margin: 0;
    display: inline-block;
    font-size: 1rem;
}

.company {
    margin: 0;
    color: rgba(255,255,255,0.5);
}

.opera {
    margin: 0;
    display: inline-block;
    margin-left: 0.5rem;
    font-style: italic;
}

.opera::before {
    content: '- ';
}