.container {
    margin: 1rem;
    background-color: #2A2A2A;
    padding: 2rem 1rem;
}

.pinkAccent {
    border-top: #e03997 solid 3px;
    border-bottom: #e03997 solid 3px;
}

.container h1 {
    margin: 0 0 1rem 0;
}
