@import url(https://fonts.googleapis.com/css?family=Staatliches);

body {
    background: black;
    font-family: sans-serif;
}

.title-font {
    font-family: 'Staatliches', sans-serif;
}

.pink {
    color: #e03997;
}

.white {
    color: white;
}

.large-text {
    font-size: 4rem;
}

.center-text {
    text-align: center;
}

.black-background {
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 0 10px;
}

iframe {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}