@import url(https://fonts.googleapis.com/css?family=Staatliches);

.title-font {
    font-family: 'Staatliches', sans-serif;
}

.pink {
    color: #FF69B4;
}

.black-background {
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 0 10px;
}