.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
  background-color: #000000;
}

.image {
  height: 100%;
  transition: opacity 0.5s linear;
}

.hidden {
    opacity:0;
}

.visible {
    opacity:1;
}
