.container {
    margin: 200px 1em 1em 1em;
    background-color: #2A2A2A;
    padding: 2em 1em;
}

.pinkAccent {
    border-top: #e03997 solid 3px;
    border-bottom: #e03997 solid 3px;
}

.container h1 {
    margin: 0 0 1em 0;
}