.container {
    width: 100vw;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.item {
    display: inherit;
    text-decoration: none;
    font-size: 3vw;
}

.item:link{
    color: white;
}

.item:visited{
    color: white;
}

.item:hover{
    color: #f7c6df;
    transform: scale(1.1);
}

.item:active{
    color: #f7c6df;
}

.active{
    color: #f7c6df !important;
}

@media screen and (min-width: 1000px){
    /* Larger than tablet - desktop */
    .container {
        display: flex;
    }
}